.docs p {
	text-align: left;
}

.crunch p,
.crunch ul,
.crunch blockquote,
.crunch h3, 
.crunch h2, 
.crunch hr,
.crunch pre {
	display: none;
}

.docs .crunch h1 {
	font-size: 20px;
}

/* using `<cite>` for pretty titles */
.docs cite {
	position: relative;
	line-height: .9;
	background: #54A8DF;
	display: block;
	text-align: right;
	font-size: 120px;
	color: #fff;
	font-style: normal;
	margin: 0;
	padding: 20px 30px 20px 20px;
	letter-spacing: -10px;
	letter-spacing: 0px\9;
	overflow: hidden;
}

.docs cite>cite {
	letter-spacing: 0;
	margin: 0;
	padding: 0;
	font-size: 25%;
	margin-right: -10px;
	font-style: italic;
	background: transparent;
	overflow: visible;
}

.docs cite a[href] {
	background: inherit;
	padding: 0;
}

.docs em {
	font-weight: normal;
	font-style: italic;
}

.docs blockquote em {
	font-weight: bold;
}

.docs ul > li {
	list-style: disc;
}

.docs ul {
	margin-right: 50px;
	font-size:14px;
}

.docs img {
	display: block;
	margin: 2em auto;
	max-width: 100%;
}

.docs blockquote {
	font-style: italic;
	color: #9e9fa3;
	position: relative;
	margin: 1.5em 30px;
	padding: 10px 10px 0 10px;
}
.docs blockquote:before {
	font-style: normal;
	content: '\201C';
	font-size: 60px;
	position: absolute;
	top: -15px;
	left: -35px;
	color: #e5e6e7;
}
.docs blockquote:after {
	font-style: normal;
	content: '\201E';
	font-size: 60px;
	position: absolute;
	bottom: -20px;
	right: -35px;
	color: #e5e6e7;
}

.docs blockquote p {
	margin: 0 0 10px 0;
}

.docs blockquote code {
	font-style: normal;
}

.docs h1 {
	margin-top: 0;
	color: #54A8DF;
	font-size: 28px;
	font-weight: normal;
	margin-bottom: 0;
	margin-left: -1px;
	letter-spacing: -1px;
	border-bottom:#54A8DF 2px solid;
}

.docs h2 {
	margin-left: -1px;
	margin-top: 1em;
	color: #1D5776;
	font-weight:bold;
	font-size: 18px;
}
.docs h2:after, h3:after {
	content: ":";
}

.docs h3 {
	font-size: 16px;
	font-weight: normal;
}

.docs code,
.docs pre code {
	color: #314484;
	font: normal 86% "Monaco", "Courier New", "Courier";
}

.docs pre {
	display: block;
	background: #f5f6f7;
	margin: 1.5em 20px;
	padding: 10px 1.5em;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	white-space: pre-wrap;
}


.docs a[href] {

	text-decoration: none;
	color: inherit;
	padding: 1px .6em;
	background: #f5f6f7;
	
	-webkit-border-radius: .6em;
	-moz-border-radius: .6em;
	border-radius: .6em;
	-webkit-transition: background .2s ease-out, -webkit-box-shadow .1s ease-out, color .15s ease-out;
	-moz-transition: background .2s ease-out, -webkit-box-shadow .1s ease-out, color .15s ease-out;
	-o-transition: background .2s ease-out, -webkit-box-shadow .1s ease-out, color .15s ease-out;
}

/* puts an * after external links, jodoc designates with .external */
.docs a[href].external:after {
	content: "*";
	font-style: super;
	opacity: .5;
}

.docs a[href]:hover {
	background: rgba(0, 0, 0, .6);
	color: #fff;
}
.docs a{
	*text-decoration:none;
}
.docs a:link, 
.docs a:visited{
	background:#eee\9;
	color:#000\9;
}
.docs a:hover,
.docs a:active{
	background:#333\9;
	color:#fff\9;
}
.docs h1 a:hover{
	background:none;
}
.docs pre code a[href], code a[href] {
	padding: 1px 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

/*
	vanilla markdown doesn't support tables, but since you can
	pass HTML through it, may as well put some nice styling for
	them in the CSS.
*/
.docs table {
	width: 100%;
	margin: 1em auto;
	border-top: 1px solid #0d0d0d;
	border-left: 1px solid #0d0d0d;
	padding: 0;
	border-spacing: 0;
	text-align: center;
}
.docs th {
	background: #36D2CF;
	background: #00a9a7;
	background: #07c7c3;
	padding: 5px;
	color: #fff;
	text-align: center;
	border-right: 1px solid #0d0d0d;
	border-bottom: 1px solid #0d0d0d;
	font-weight: bold;
}

.docs th:first {
	border-left: 1px solid #0d0d0d;	
}

.docs td {
	padding: 5px;
	border-right: 1px solid #0d0d0d;
	border-bottom: 1px solid #0d0d0d;
}

.docs td:first {
	border-left: 1px solid #0d0d0d;
}

/* <hr> is used as a page separator in markdown */
.docs hr {
	border: none;
	height: 70px;
}
.docs hr:before {
	content: "\2026";
	font-size: 50px;
	color: #e5e6e7;
	text-align: center;
	display: block;
}
.docs .api-tag h1{
	font-weight:bold;
	font-style:normal;
	border-bottom:none;
	padding-top:30px;
	font-size:36px;
}

#index {
	-webkit-column-width: 170px;
	-webkit-column-rule-width: 10px;
	-moz-column-width: 170px;
	-moz-column-rule-width: 10px;
	column-width: 170px;
	column-rule-width: 10px;
	column-width: 170px;
	column-rule-width: 10px;
}
#index h2:after, #index h3:after { content:""; }
#index h2 { margin-left: 0; }
#index>h2 {
	margin-top: 0;
}
#index { padding: 10px 1px; }
#index ul {
	padding: 0;
}
#index ul li {
	list-style: none;
}
#index {
	margin-bottom:10px;
}
/*hack for IE*/
.docs cite  cite{
	*letter-spacing: 0 !important;
	*margin: 0 !important;
	*padding: 0 !important;
	*font-size: 25% !important;
	*margin-right: -10px !important;
	*font-style: italic !important;
}

.docs hr {
	display:none\9;
}
#index{
	padding:10px\9;
}
#index h2, #index ul,  #index li{
	float:left\9;
	display:inline\9;
	margin:0 2px\9;
	padding:0\9;
	line-height:32px\9;
	height:32px\9;
	*overflow:hidden;
	*zoom:1;
}
#index ul{
	_display:inline-block;
	_white-space:nowrap;
	margin-right:10px\9;
}
#index li{
	_float:none;
}

@media acrobat{
	body{
		display:none;
	}
}
/* pretty printing */
@media print {
	.docs body {
		max-width: none;
		margin: 0;
		font-size: 89%;
	}
	
	.docs h1,
	.docs h2 {
		page-break-after: avoid;
	}
	
	.docs h1>p,
	.docs h2>p{
		page-break-before: avoid;
	}
	
	.docs pre {
		page-break-before: auto;
		page-break-inside: avoid;
	}
	
	.docs blockquote {
		page-break-inside: avoid;
	}
	
	.docs hr {
		page-break-before: always;
		font-size: inherit;
		height: auto;
	}
	.docs hr:before {
		height: auto;
		content: "";
		font-size: inherit;
	}
	
	.docs a[href] {
		background: none;
		padding: 0;
		-webkit-border-radius: none;
		-moz-border-radius: none;
		border-radius: none;
	}
	
	#index {
		display: none;
	}
}

